body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pages{
  margin: 20px;
}

.two-panel {
  display: flex;
  justify-content: space-between;
}

.left-panel {
  flex: 1;
  margin-right: 25px;
  padding-right: 25px;
  border-right: 4px solid var(--primary);
}

.right-panel form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Calibri;
}

.right-panel form input {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.right-panel form button {
  font-family: Calibri;
  border-radius: 5px;
  margin-top: 10px;
}

.margin-left {
  margin-left: 20px;
}

.wei-norm {
  font-weight: normal;
}

.search-field {
  padding: 10px 20px;
  border-radius: 5px;
}